<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prevented this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :contents %><br>
    <%= f.text_area :contents, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => "btn" %>
  </div>
<% end %>
