<% provide(:title, 'Posts') %>

<p id="notice"><%= notice %></p>
<h2>Listing Posts</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Contents</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.author %></td>
        <td><%= post.contents %></td>
        <td><%= link_to 'Show', post, :class => "btn" %></td>
        <td><%= link_to 'Edit', edit_post_path(post), :class => "btn" %>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },
                                                          :class => "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Post', new_post_path, :class => "btn" %>

<%# THIS WORKS BUT TRYING GLOMBBALL
<%# <%= react_component('PostsList',
                    { initialPosts: @posts },
                    { prerender: params[:noprerender].nil? ? true : false }) %>
